
#login{
	margin: auto;
	text-align:center;
	font-size: 20px;
}

#login img{
	display: block;
	margin: auto;
}

#login input, #login .button{ 
    border: 1px solid #CECECE;
    font-size: 17px;
    outline: 0 none;
    padding: 8px 13px;
	text-align:center;
	color:#727272;
}

#login input{
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
	
}


#login input:focus {
	border-color: #D55A34;
}

#login .button{
    background: url("../imgs/bg-button.png") repeat-x scroll right top #FFFFFF;
    border-radius: 30px 30px 30px 30px;
    margin-left: 5px;
    padding: 9px 20px;
    text-decoration: none;
    text-transform: lowercase;
	font-family: 'Antic Didone', serif;
}

#login nav{
    background: url("../imgs/bg.png") repeat-x scroll right top #FFFFFF;
    min-height: 60px;
}

#login img{
	position:relative;
	top: -40px;
}
