body{
	font-family: sans-serif;
	overflow-x: hidden;
	background: url("../imgs/bg.png") repeat-x scroll right top #FFFFFF;
}

.container{
	width: 960px;
	margin: auto;
}

.screen{
	display:none;
}


nav{
    background: url("../imgs/bg.png") repeat-x scroll right top #FFFFFF;
    min-height: 60px;
}

.button{
	display: block;
    border: 1px solid #fff;
    font-size: 17px;
    outline: 0 none;
	text-align:center;
	color:#444;
    background: url("../imgs/bg-button.png") repeat-x scroll right top #FFFFFF;
    border-radius: 30px 30px 30px 30px;
    margin-left: 5px;
    padding: 5px 20px;
    text-decoration: none;
	font-family: 'Antic Didone', serif;
}

.chat{
    background: url("../imgs/bg-chat.png") repeat scroll right top #FFFFFF;

    margin-top: 60px;
    width: 100%;
	color: white;
	
	position:relative;
}

.chat .bar{
	background: url("../imgs/bg-bar.png") repeat-x scroll right top transparent;
	height: 10px;
}


.chat .scrollbar{
    height: 392px;
    overflow-y: scroll;
}

.chat .item{
    display: table;
    padding: 2px 20px 2px;
    width: 100%;
}

.chat .item .icon{
    float: left;
    width: 95px;
}
.chat .item .text{
    background: url("../imgs/bg-text.png") repeat-x scroll right top #CCC;
    color: black;
    float: left;
    margin-top: 5px;
    max-width: 85%;
    min-height: 40px;
    padding: 12px;
	border-radius: 7px;
	font-size: 17px;
	line-height:22px;
}

.chat .item.right .text{
    float:right
}

.chat .item .text textarea{
	font-size: 22px;
}


.chat .item.right .icon{
    float:right
}

.chat .input{
    background: url("../imgs/bg-input.png") repeat-x scroll right top #FFFFFF;
    min-height: 40px;
}

.chat .input input{
    background: url("../imgs/input.png") no-repeat scroll right top transparent;
    border: medium none;
    margin-top: 4px;
    min-height: 30px;
    text-indent: 15px;
    width: 598px;
}

.chat .typing{
    bottom: 8px;
    color: #EB7331;
    position: absolute;
    right: 45px;

}

.chat .prompt{
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 0;
    padding: 10px;
}

