html {
	height: 100%;
}

body{
	font-family: sans-serif;
	overflow-x: hidden;
	height:100%;
	background-color: #FBFBFB;
}

.container{
	width: 62%;
	float:left;
	margin: auto;
}

.screen{
	display:none;
	width:1024px;
	margin:auto;
	height: 100%
}

.contexts{
	height:100%;
}


nav{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
    font-size: 32px;
    padding-top: 15px;
	padding-left: 15px;
    min-height: 60px;
	text-shadow: 1px 1px 0px #e5e5ee;
	color: #504F4D;
}

.button{
	display: block;
    border: 1px solid #fff;
    font-size: 17px;
    outline: 0 none;
	text-align:center;
	color:#444;
    background: url("../imgs/bg-button.png") repeat scroll right bottom #FFFFFF;
    border-radius: 30px 30px 30px 30px;
    margin-left: 5px;
    padding: 5px 20px;
    text-decoration: none;
	font-weight:bold;
}

.flex-container{
	width: 65%;
	height: 100%;
	float:left;
	
}

.ct{
    background: url("../imgs/eye.png") no-repeat scroll center 3px transparent;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    padding: 0 6px;
    width: 15px;
}


.chat{
    background: url("../imgs/bg-chat.png") repeat scroll right top #FFFFFF;
	float:right;
    width: 35%;
	color: white;
	height:100%;
	position:relative;

}

.chat .bar{
	background: url("../imgs/bg-bar.png") repeat-y scroll right top transparent;
	height: 900px;
	width: 10px;
	height:100%;
	float:left;
	position:absolute;
	left: -9px;
}


.chat .scrollbar{
    height: 670px;
    overflow:auto;
	padding: 10px 0;
}

.chat .item{
    display: table;
    width: 98%;
}

.chat .item .icon img{
	width:100%;
}

.chat .item .icon{
    float: left;
    width: 45px;
}
.chat .item .text{
    background: url("../imgs/bg-text.png") repeat-x scroll right top #CCCCCC;
    border-radius: 7px 7px 7px 7px;
    color: black;
    float: left;
    font-size: 17px;
    line-height: 21px;
    margin-top: 5px;
    max-width: 75%;
    min-height: 25px;
    padding: 12px 12px 7px;
}

.chat .item.right .text{
    float:right
}

.chat .item .text textarea{
	font-size: 22px;
}


.chat .item.right .icon{
    float:right
}

.chat .input{
    background: url("../imgs/bg-input.png") repeat-x scroll right top #FFFFFF;
    min-height: 40px;
}

.chat .input input{
    background: url("../imgs/input.png") no-repeat scroll right top transparent;
    border: medium none;
    margin-top: 4px;
    min-height: 30px;
    text-indent: 15px;
    width: 598px;
}

.chat .typing{
    bottom: 8px;
    color: #EB7331;
    position: absolute;
    right: 45px;

}

.chat .prompt{
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 0;
    padding: 10px;
}

